@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pink-main: #FAC4D2;
  --creme-main: #FFF9F0;
}
@layer base {
  .bg-pinkMain {
    background-color: var(--pink-main);
  }
  
  .bg-cremeMain {
    background-color: var(--creme-main);
  }
  
  .text-pinkMain {
    color: var(--pink-main);
  }
  
  .text-cremeMain {
    color: var(--creme-main);
  }
  
  .font-istok {
    font-family: var(--font-istok), sans-serif;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-istok);
}
